body {
    font-family: Georgia, serif;
    color: #828081;
}

h1, h2 {
    font-weight: 400;
    text-align: center;
}

textarea {
    display: block;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 12em;
    width: 80%;
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background: #eee;
    color: inherit;
}

button {
    color: white;
    font-variant: small-caps;
    display: block;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 3px;
    background: #3CC47C;
    margin: 0 auto;
    padding: 1em 2em;
}

.output {
    width: 80%;
    max-width: 800px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background: #eee;
    padding: 1em;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 2em;
}

