<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Joodle - Oodlify your text</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/normalize.css" />
    <link rel="stylesheet" href="static/css/style.css" />

</head>

<body>
    <h1>Joodle</h1>
    <h2>Oodlify your text</h1>

    <form method="post">
        <textarea name="input">{%if input%}{{ input }}{% endif %}</textarea>

        <button type="submit">Oodlify now!</button>
    </form>

    {% if output %}
    <p class="output">{{ output }}</p>
    {% endif %}
</body>
